/* General reset for margin, padding, and box-sizing */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Basic body styles */
body {
  font-family: Arial, sans-serif; /* Default font */
  font-size: 16px;
  line-height: 1.6; /* Spacing between lines */
  color: #333; /* Dark text color */

  background-color: #f4f4f4; /* Light background color */
  padding: 20px; /* Padding around the page */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* Basic container for layout */
.container {
  max-width: 720px;
  margin: 2rem auto 0 auto; /* Center it horizontally */
}

/* Header styles */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: normal;
  margin-bottom: 10px; /* Add space below headings */
}

/* Links */
a {
  text-decoration: none; /* Remove underline from links */
  color: #007bff; /* Blue color for links */
  cursor: pointer;
}

a:hover {
  color: #0056b3; /* Darker blue on hover */
}

/* Remove arrow keys from form input with type number */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
/* Later on check this */
input[type="number"] {
  appearance: none;
}

/* Form container */
#survey-form {
  background-color: rgb(0, 1, 82, 0.8);
  width: 100%;
  max-width: 600px;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: white;
}

/* Groups up the various inputs */
#survey-form .form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

/* Label styling */
label {
  margin-bottom: 8px;
}

/* Input styling */
input[type="text"],
input[type="email"],
input[type="number"],
textarea,
select {
  padding: 12px;
  border-radius: 6px;
  border: none;
  font-size: 16px;
  margin-bottom: 20px;
  width: 100%;
}

/* Submit button styling */
#submit {
  background-color: #4a90e2;
  color: white;
  border: none;
  padding: 15px;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
}

#submit:hover {
  background-color: #357abd;
}

/* Radio buttons and checkbox styling */
label input[type="radio"],
label input[type="checkbox"] {
  margin-right: 10px;
}

/* Textarea styling */
textarea {
  resize: vertical;
}

/* Select dropdown styling */
select {
  background-color: #f9f9f9;
  padding: 12px;
  font-size: 16px;
}

/* Focus outline */
#survey-form input[type="text"]:focus,
#survey-form input[type="email"]:focus,
#survey-form input[type="number"]:focus,
#survey-form textarea:focus,
#survey-form select:focus {
  outline: 2px solid #4a90e2;
}
